body {
  font-family: 'Newsreader', serif;
}

h1 {
  font-family: 'Bebas Neue', sans-serif;
}

p {
  font-family: 'Newsreader', serif;

}

body {
  background-color: #FFF3B3;
}

.link-list {
  display: flex;
  list-style: none;
  justify-content: center;
  border-radius: 10px;
  padding: 10px;
}

.link-list li {
  margin: 0 10px;
}

.link-list li a {
  text-decoration: none;
  color: #070707; /* cor do texto */
  padding: 5px 10px;
  border: 1px solid #0a0a0a; /* cor da borda */
  border-radius: 5px;
}

.link-list li a:hover {
  background-color:transparent; /* cor do fundo ao passar o mouse */
  color: #0c0c0b; /* cor do texto ao passar o mouse */
}


.link-list li {
    margin-right: 10px;
    /* Ajuste o espaçamento entre as opções do menu */
}

.link-list li:last-child {
    margin-right: 0;
    /* Remove a margem direita da última opção do menu */
}

.link-list li a {
    font-size: 1.2em;
    /* Ajuste o tamanho da fonte conforme necessário */
    font-weight: bold;
    /* Adiciona negrito */
}

header {
    text-align: center;
}

header h1 {
    font-size: 5em;
}
img {
    width: 300px;
    border-radius: 16px;
  }
h2 {
    text-align: center;
    float: center;
    font-size: 1cm;
  }
  h1 {
    text-align: center;
    float: center;
    font-size: 1cm;
  }
  h4 {
    text-align: justify;
  }
  .tabela-noticias table,
  .tabela-ranking table {
    border-collapse: collapse;
    border: 1px solid #000;
    margin: 0 auto;
  }
  
  .tabela-noticias th,
  .tabela-noticias td,
  .tabela-ranking th,
  .tabela-ranking td {
    border: 1px solid #000;
    padding: 5px;
    text-align: center;
  }
  footer {
    text-align: center; /* Centraliza o conteúdo do rodapé */
    font-weight: bold; /* Aplica a formatação em negrito */
  }
  .custom-footer {
    text-align: center; /* Centraliza o conteúdo do rodapé */
    font-weight: bold; /* Aplica a formatação em negrito */
  }
  
  .custom-footer ul li {
    display: inline-block; /* Exibe os elementos em linha */
  }
  .right-aligned {
    text-align: right; /* Alinha à direita */
  }
  
  .left-aligned {
    text-align: left; /* Alinha à esquerda */
  }
  
  .center-aligned {
    text-align: center; /* Centraliza */
  }
  .justified {
    text-align: justify;
  }
  .centered {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  section {
    text-align: center;
}

form {
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    background-color: #f8f8f8;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
select,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    height: 100px;
    resize: vertical;
}

input[type="submit"],
button[type="reset"] {
    background-color: #f5d419;
    color: rgb(13, 13, 13);
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover,
button[type="reset"]:hover {
    background-color: #FFF3B3;
}
.home-link {
  display: block;
  position:fixed; 
  top: 20px;
  left: 0;
  z-index: 9999;
  color: #000;
  text-decoration: none;
}

.home-link:hover {
  color: rgb(12, 11, 11); /* Altere a cor de acordo com sua preferência */
}
.material-icons-outlined {
  font-size: 40px;
}
.color-change-4x {
	-webkit-animation: color-change-4x 6s linear infinite alternate both;
nimation: color-change-4x 6s linear infinite alternate both;
}

@-webkit-keyframes color-change-4x {
  0% {
    background: #c6f8fc;
  }
  33.3333% {
    background: #b6fb81;
  }
  66.666% {
    background: #fe7ae4;
  }
  100% {
    background: #d4b85e;
  }
}
@keyframes color-change-4x {
  0% {
    background: #f9b453;
  }
  33.3333% {
    background: #4b80ea;
  }
  66.666% {
    background: #7ffd78;
  }
  100% {
    background: #faa35c;
  }
}
.paragrafo-tamanho-12 {
  font-size: 25px;
}

.tracking-in-expand-fwd-bottom {
	-webkit-animation: tracking-in-expand-fwd-bottom 3s cubic-bezier(0.215, 0.610, 0.355, 1.000) ;
  animation: tracking-in-expand-fwd-bottom 3s cubic-bezier(0.215, 0.610, 0.355, 1.000) ;
}

@-webkit-keyframes tracking-in-expand-fwd-bottom {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px) translateY(500px);
            transform: translateZ(-700px) translateY(500px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
@keyframes tracking-in-expand-fwd-bottom {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px) translateY(500px);
            transform: translateZ(-700px) translateY(500px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
